body {
background: gray;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: red;
text-align: center;
}

.assign {
display: flex;
padding: 10px;
margin: 10px;
background: orange;
}
.assign img {
width: 200px;
padding: 10px;
}

a {
 text-decoration: none; /* remove underlining on anchor tags */
 color: yellow; /* pick the color you want */
}
.assign img {
 padding: 10px; /* change this from margin to padding */
 border: 2px dotted black; /* try dashed, dotted */
}
